@import "@/sass/variables.scss";
@import "@/sass/mexins.scss";
@mixin tablet{
  @media only screen and (min-width: 600px) and ( max-width:1000px) {
    @content;
  }
}
@mixin smallTablet{
  @media only screen and (min-width: 500px) and ( max-width: 600px) {
    @content;
  }

}
@mixin dangerBreakPoint{
  @media only screen and (min-width: 600px) and ( max-width: 750px) {
    @content;
  }

}
@mixin mobile {
  @media only screen and (max-width: 500px) {
    @content;
  }
}