@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$primary-color :#0057ff ;
$secondary-color:hsl(197, 100%, 22%);
$primary-font : 'Poppins', serif;
$secondary-font :'Playfair Display SC', sans-serif;
$third-font:'Montserrat, serif';
$primary-size : 1em;