@import "@/sass/variables.scss";
@import "@/sass/mexins.scss";
@import "@/sass/mediaquerise.scss";
.overlay{
    width: 100vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    top: 0%;
    cursor:pointer;
  }
.formContainer{
    position: absolute;
    top: 35%;
    left: 30%;
    background-color: white;
    width: 40%;
    height: auto;
    border-radius: 6px;
    border: 1px solid #0c4aad;
h2{
    text-align: center;
}

}
.form{
    z-index: 999;
    @include flex($direction:row,$justify-content:flex-start);
    padding-bottom: 20px;
    
.searchInput{
    margin-left: 10px;
    @include flex($direction:column);
    width: 50%;
input{
    padding-block: 7px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid black;
    padding-left: 3px;
}
 
}  
.price{
    @include flex($direction:column);
    width: 20%;
    margin-left: 10px;
input{
        padding-block: 8px;
        width: 100%;
        border-radius: 6px;
        border: 1px solid black;
        padding-left: 2px;
        color: black;
    }
}  
.submitButton{ 
   color: white;
   background-color: #0c4aad;
   padding-block:8px;
   padding-inline: 16px;
   margin-left:12px;
   font-size: 14px;
   font-weight: 550;
   border-radius: 6px;
   border: solid white 1px;  
}
}

