@import "@/sass/variables.scss";
@import "@/sass/mexins.scss";
@import "@/sass/mediaquerise.scss";

.navcontainer{
    @include flex($direction:row,$justify-content:flex-start);
    flex-wrap: wrap;
.searchBar{
 margin-left: auto;
 margin-right: 15px;
 padding: 5px;
 background-color: #0c4aad;
 border-radius: 6px;
 @include smallTablet{
    margin-left:30px;
 }
 @include mobile{
    margin-left: 10px;
 }
 @include dangerBreakPoint {
    margin-left:30px;
 }
input{
    width: 200px;
    padding-block: 5px;
    border-radius: 6px;
    border: #0c4aad 1px solid;
    padding-left: 5px;
}
}
}
.filter{
    padding-left: 30px;
    @include flex($direction:row,$justify-content:flex-start,$aligin-items:flex-start);
    margin-top: 20px;
    
    @include mobile{
    padding-left: 10px;
    }
.filterButton{
    @include filterButton();
    cursor: pointer;
    
.filterIcon{
    margin-left:10px;
    @include mobile{
        margin-left: 2px;
    }
}
}

}
.filterSecondaryButton{
    @include filterButton($background-color:white,$color:#0c4aad,$border:#2557a7 solid 1px);
    margin-inline:10px;
    cursor: pointer;   
.filterSecondaryIcon{
    width: 12px;
    padding-left: 10px;
    height: auto;
    @include mobile{
        width: 8px;
        height: auto;
        padding-left: 6px;
    }
}
}
.categories{
   display: flex;
   flex-direction: column;

.filterSecondaryButton1{
    @include filterButton($background-color:white,$color:#0c4aad,$border:#2557a7 solid 1px);
    margin-block:0px;
    border-radius: 0px;
    width: 125px;
    cursor: pointer;
    @include mobile{
    width: 80px;
    font-size: 10px;
    }
    @include tablet{
        width: 112px;
    }
    @include smallTablet{
        width: 103px;
    }
    
}
.filterSecondaryButton2{
    @include filterButton($background-color:white,$color:#0c4aad,$border:#2557a7 solid 1px);
    margin-block:0px;
    border-radius: 0px;
    width: 150px;
    cursor: pointer;
    @include mobile{
        width: 102px;
        font-size: 10px;
        }
    
}

}
.list{
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    @include mobile{
        top: 14.5%;
    }
    @include tablet{
        top: 16.9%;
    }
    @include smallTablet{
        top: 15.95%;
       
    }

   
   
}
.list2{
    position: absolute;
    top: 20%;
    left: 12.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    @include mobile{
        top: 15%; 
        left: 30.4%;
    }
    @include tablet{
        top: 17%;
        left: 21.7%;
    }
    @include smallTablet{
        top: 18.6%;
        left: 24.4%;
    }
}
.list3{
    position: absolute;
    top: 20.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    @include mobile{
        top: 15%; 
        left: 61.4%;
    }
    @include smallTablet{
        top: 15%; 
        left: 30.4%;
    }
    @include tablet{
        top: 15%; 
        left: 30.4%;
    }

    &:first-child {
        margin-top: 2580px;
    }
}
.bigContainer{
    margin-top: 10px;
    padding-left: 5%;
    @include flex($direction:row,$justify-content:flex-start);
    gap:4%;
    flex-wrap: wrap;
    @include tablet{
    @include flex($direction:row,$justify-content:center);
    }
    @include mobile{
        @include flex($direction:row,$justify-content:center);
        }
}
.filterSecondaryButton3{
    @include filterButton($background-color:white,$color:#0c4aad,$border:#2557a7 solid 1px);
    margin-block:0px;
    border-radius: 0px;
    width: 130px;
    cursor: pointer;
    @include mobile{
        width: 93px;
        font-size: 10px;
        }   
    @include tablet{
        width: 120px;
            }
    @include smallTablet{
        width: 115px;
             }
}