@import "@/sass/variables.scss";
@import "@/sass/mexins.scss";
@import "@/sass/mediaquerise.scss";
.container{
   margin-top: 20px;
   width: 40%;
   min-width: 350px;
   height: auto;
   border: 1px solid #0000005d;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   border-radius: 10px;
   padding: 10px;
   padding-inline: 10px;
   padding-top: 10px;
   margin-left: 10px;
   font-weight: 200;
.user{
    display: grid;
    grid-template-columns: 10% 90%;
.userInfos{
p{
    font-size: 14px;
    color: rgb(83, 82, 82); 
}
h3{
    cursor: pointer;
}
}
img{
    width:35px;
    height:35px;
    border-radius: 80px;
    @include mobile{
        width:32px;
        height:35px;   
    }
}
}
.product{
    // margin-bottom: 50px;
    margin-block: 10px;
    padding-block: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(225, 225, 225, 0.39);
    border-radius: 6px;
    height: auto;
    border: 1px solid black;
img{
    width: 90%;
    height: auto;
    padding-left: 30px;
    padding-top: 10px;
}
.productInfos{
    margin-top: 6px;
p{
    padding-block: 6px;
.product_title{
    font-weight: bold;
}
.product_answer{
    padding-left: 7px;
}
    

}
}
}
.reviewHeader{
    margin-top: 30px;
    @include flex($direction:row,$justify-content:space-between);
    padding-top: 10px;
    padding-bottom: 20px;
.title{
    
p{
    font-size: 14px;
    color: rgb(83, 82, 82);
}
}
p{
    align-self:flex-start;
.star{
    padding-bottom: 3px;
    padding-right: 3px;
    color: rgb(255, 166, 0);
}
.note{
    font-size: 25px;
    font-weight: bold;
}
}
}
}
.line{
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.listContainer{
    
    @include flex($direction:row,$justify-content:center);
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.footer{
   
    margin-top: 6px;
    border-radius: 6px;
    background-color:rgba(225, 225, 225, 0.39);
    padding-block: 6px;
    @include flex($direction:row);
    gap: 130px;
    border: 1px solid black;
p{
    display: inline;
    @include flex($direction:row);
    gap: 5px;
    cursor: pointer;
    
    
}
}
